body {
  background-color: #0B0C1A;
  background-image: url('../public/background-dark.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Avenir Next', sans-serif;
  color: #fff;
  min-height: 100vh;
}

/** Fonts **/
@font-face {
  font-family: "Avenir Next";
  src: url("../public/fonts/AvenirNext/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../public/fonts/AvenirNext/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

svg {
  fill: currentcolor;
}

* {
  box-sizing: border-box;
}