# TODO: to be replaced with what we have in deploy-ps2-this-will-be-prod-deploy.yml
name: PS2 Production deploy
on:
  push:
    tags:
      - 'release-ps2-*'

jobs:
  deploy:
    name: PS2 WL Server prod deploy
    uses: ./.github/workflows/ps2-deploy.yml
    secrets: inherit
    with:
      deploy-env: wl-prod
