name: PS2 QW Individual deploy
on:
  push:
    tags:
      - 'release-ps2_qw-*'

jobs:
  deploy:
    name: PS2 QW 4-in-1
    uses: ./.github/workflows/ps2-deploy-wl-4-in-1.yml
    secrets: inherit
    with:
      deploy-env: quantwise-prod

