name: Prod Release
on:
  push:
    branches:
      - release
jobs:
  build:
    name: Webapp Prod Release
    runs-on: ubuntu-latest
    environment: prod
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Configure deployment folder
        run: |
          sed -i -e 's/{directory}/prod/g' appspec.yml
          sed -i -e 's/{directory}/prod/g' scripts/prepare_release.sh
          sed -i -e 's/{directory}/prod/g' scripts/after_install.sh
          sed -i -e 's/{directory}/prod/g' scripts/delete_old_release.sh
      - name: Create server .env file
        uses: SpicyPizza/create-envfile@v1.3
        with:
          envkey_POSTGRES_URL: ${{ secrets.POSTGRES_URL }}
          envkey_RPC_URL: ${{ secrets.RPC_URL }}
          envkey_RPC_SOCKET_URL: ${{ secrets.RPC_SOCKET_URL }}
          envkey_RECEIVING_ACCOUNT: ${{ secrets.RECEIVING_ACCOUNT }}
          envkey_CONTRACT_ADDRESS: ${{ secrets.CONTRACT_ADDRESS }}
          envkey_ZIGNALY_API: ${{ secrets.ZIGNALY_API }}
          envkey_ZIGNALY_API_PUBLIC_KEY: ${{ secrets.ZIGNALY_API_PUBLIC_KEY }}
          envkey_ZIGNALY_API_PRIVATE_KEY: ${{ secrets.ZIGNALY_API_PRIVATE_KEY }}
          envkey_ZIGNALY_SYSTEM_ID: ${{ secrets.ZIGNALY_SYSTEM_ID }}
          envkey_GRAPHQL_PATH: ${{ secrets.GRAPHQL_PATH }}
          envkey_PORT: ${{ secrets.PORT }}
          directory: packages/raffles-server
          file_name: .env
      - name: Create client .env file
        uses: SpicyPizza/create-envfile@v1.3
        with:
          envkey_REACT_APP_GRAPHQL: ${{ secrets.REACT_APP_GRAPHQL }}
          envkey_REACT_APP_GRAPHQL_WS: ${{ secrets.REACT_APP_GRAPHQL_WS }}
          envkey_REACT_APP_ALCHEMY_PROJECT_ID: ${{ secrets.REACT_APP_ALCHEMY_PROJECT_ID }}
          envkey_REACT_APP_RECEIVING_ADDRESS: ${{ secrets.REACT_APP_RECEIVING_ADDRESS }}
          envkey_REACT_APP_CONTRACT_ADDRESS: ${{ secrets.REACT_APP_CONTRACT_ADDRESS }}
          envkey_REACT_APP_USE_MUMBAI_CHAIN: ${{ secrets.REACT_APP_USE_MUMBAI_CHAIN }}
          envkey_REACT_APP_ENABLE_TRACKING: ${{ secrets.REACT_APP_ENABLE_TRACKING }}
          directory: packages/raffles-client
          file_name: .env.production.local
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"
          cache: 'yarn'
      - name: Install Lerna
        run: yarn global add lerna
      - name: Bootstrap packages
        run: lerna bootstrap --scope=@zignaly-open/raffles-client
      - name: Build client
        run: yarn run build --scope=@zignaly-open/raffles-client --include-dependencies
      - name: AWS CodeDeploy
        uses: sourcetoad/aws-codedeploy-action@v1
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY }}
          aws_secret_key: ${{ secrets.AWS_SECRET_KEY }}
          aws_region: ap-northeast-1
          codedeploy_name: zignaly
          codedeploy_group: zignaly-raffles-prod
          codedeploy_register_only: false
          s3_bucket: ${{ secrets.AWS_S3_BUCKET }}
          s3_folder: prod
          max_polling_iterations: 60
          excluded_files: '.git/* *node_modules/* packages/ps2/*'
          directory: .
